.button {
    display: inline-block;
    border: 1px solid transparent;
    vertical-align: middle;
    padding: 5px 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;

    &:not(:last-child) {
        margin-right: 5px;
    }

    &--green {
        color: #fff;
        background: $color-1;

        &:hover {
            color: #fff;
            background: #116f11;
        }
    }

    &--orange {
        color: #fff;
        background: $color-2;

        &:hover {
            color: #fff;
            background: #bd5b05;
        }
    }

    &--red {
        color: #fff;
        background: red;

        &:hover {
            color: #fff;
            background: darkred;
        }
    }

    &--f-blue {
        color: #fff;
        background: $color-6;

        &:hover {
            color: #fff;
            background: #193e8c;
        }
    }

    &--g-red {
        color: #fff;
        background: $color-7;

        &:hover {
            color: #fff;
            background: #b72912;
        }
    }
}