// color
$color-1: #2f9a30 !default; // keysoft green
$color-2: #eb7105 !default; // keysoft dark orange
$color-3: #4a79a5 !default; // dark blue
$color-4: #e62544 !default; // dark red 1
$color-5: #a9001b !default; // dark red 2
$color-6: #3b5998 !default; // facebook blue
$color-7: #df4a32 !default; // google red

// box shadow
$box-shadow-1: 0 1px 5px 0px rgba(0, 0, 0, 0.3); 
$box-shadow-2: 0 0 5px 3px rgba(0, 0, 0, 0.75);
$box-shadow-3: 0 0 10px 1.5px rgba(0, 0, 0, 0.3);
$box-shadow-4: 0 0 10px 1px rgba(0, 0, 0, 0.75);
$box-shadow-5: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
